{% load compressed %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% compressed_css 'contrib' %}

    {% compressed_js 'contrib' %}
    {% compressed_js 'appjs' %}

    <meta charset="UTF-8">

  <script>
    $(document).ready(function() {
        $.material.init();
        setOffset();
    });
  </script>

  {% block header %}
    <title></title>
  {% endblock %}
</head>
<body>

<div id="navigation_bar">
  {% block navigation-bar %}
  {% endblock %}
</div>
<div class="row" id="content">
    {% block content %}
    {%  endblock %}
</div>
</body>
</html>
