{% extends "flood_mapper/base.html" %}

{% block header %}
    <script>
        $(document).ready(function() {
            $('.equalHeight').each(function() {
                var eHeight = $(this).innerHeight();
                $(this).find('.jumbotron').outerHeight(eHeight);
            });
        });
    </script>
    <title>Report Selection</title>
{% endblock %}

{% load bootstrap_tags %}

{% block navigation-bar %}
    {% include "flood_mapper/navigation_bar.html" %}
{%  endblock %}

{% block content %}
<div class="row">
  <div class="row">
    <div class="col-xs-4">
        <h4 class="col-xs-offset-1 col-xs-10"> What do you want to do?</h4>
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      {% comment %}
      {% if user.is_staff %}
      <div class="col-xs-offset-1 col-xs-10">
      <button type="button" class="btn btn-block" aria-label="Left Align">
        Custom Reports
      </button>
      </div>
      {% endif %}
      {% endcomment %}
    </div>
  </div>
  <div class="row equalHeight">
    <div class="col-xs-4">
      <div class="col-xs-offset-1 col-xs-10 jumbotron alert-success">
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/pdf/6h/{{reports.pdf.6h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.pdf.6h %}disabled='disabled'{% endif %}>
            Download to open with<br>
            a document viewer<br>
            (PDF)*
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle"
              data-toggle="dropdown"
              {% if not reports.pdf.6h %}disabled='disabled'{% endif %}>
            <br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.pdf.6h %}
               <li><a href="/api/download/pdf/6h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br>
        <br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/pdf/24h/{{reports.pdf.24h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.pdf.24h %}disabled='disabled'{% endif %}>
            24h report <br>
            Download to open with<br>
            a document viewer<br>
            (PDF)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle"
              data-toggle="dropdown"
              {% if not reports.pdf.24h %}disabled='disabled'{% endif %}>
            <br><br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.pdf.24h %}
             <a href="/api/download/pdf/24h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <div class="page-header"></div>
        <h4>*Recommended</h4>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-offset-1 col-xs-10 jumbotron alert-warning">
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/csv/6h/{{reports.csv.6h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.csv.6h %}disabled='disabled'{% endif %}>
            Download to view in<br>
            spreadsheet<br>
            (CSV)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.csv.6h %}disabled='disabled'{% endif %}>
            <br><br></b><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.csv.6h %}
               <li><a href="/api/download/csv/6h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br>
        <br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/csv/24h/{{reports.csv.24h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.csv.24h %}disabled='disabled'{% endif %}>
            24h report <br>
            Download to view in<br>
            spreadsheet<br>
            (CSV)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle"
              data-toggle="dropdown"
              {% if not reports.csv.24h %}disabled='disabled'{% endif %}>
            <br><br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.csv.24h %}
               <li><a href="/api/download/csv/24h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-offset-1 col-xs-10 jumbotron alert-warning">
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/kml/6h/{{reports.kml.6h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.kml.6h %}disabled='disabled'{% endif %}>
            Download to view in<br>
            Google Earth<br>
            (KML)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.kml.6h %}disabled='disabled'{% endif %}>
            <br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.kml.6h %}
               <li><a href="/api/download/kml/6h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br><br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/kml/24h/{{reports.kml.24h.0}}">
          <button class="col-xs-10 btn"
              {% if not reports.kml.24h %}disabled='disabled'{% endif %}>
            24h report<br>
            Download to view in<br>
            Google Earth<br>
            (KML)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.kml.24h %}disabled='disabled'{% endif %}>
            <br><br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.kml.24h %}
               <li><a href="/api/download/kml/24h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br><br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/shp/6h/{{reports.shp.6h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.shp.6h %}disabled='disabled'{% endif %}>
            Download to view in<br>
            GIS<br>
            (SHP)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.shp.6h %}disabled='disabled'{% endif %}>
            <br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.shp.6h %}
               <li><a href="/api/download/shp/6h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br><br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/shp/24h/{{reports.shp.24h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.shp.24h %}disabled='disabled'{% endif %}>
            24h report<br>
            Download to view in<br>
            GIS<br>
            (SHP)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.shp.24h %}disabled='disabled'{% endif %}>
            <br><br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.shp.24h %}
               <li><a href="/api/download/shp/24h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
        <br><br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/sqlite/6h/{{reports.sqlite.6h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.sqlite.6h %}disabled='disabled'{% endif %}>
            Download to view in<br>
            GIS<br>
            (spatialite)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.sqlite.6h %}disabled='disabled'{% endif %}>
            <br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.sqlite.6h %}
               <li><a href="/api/download/sqlite/6h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
           </ul>
        </div>
        <br><br>
        <div class="btn-group btn-block">
          <form method="get" action="/api/download/sqlite/24h/{{reports.sqlite.24h.0}}">
          <button class="col-xs-10 btn" type="submit"
              {% if not reports.sqlite.24h %}disabled='disabled'{% endif %}>
            24h report<br>
            Download to view in<br>
            GIS<br>
            (spatialite)
          </button>
          </form>
          <button class="col-sm-2 btn dropdown-toggle" data-toggle="dropdown"
              {% if not reports.sqlite.24h %}disabled='disabled'{% endif %}>
            <br><br><br><span class="caret"></span>
          </button>
           <ul class="dropdown-menu">
             {% for report in reports.sqlite.24h %}
               <li><a href="/api/download/sqlite/24h/{{report}}"
                   download="{{report}}">{{ report }}</a></li>
             {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{%  endblock %}
